a{
    text-decoration: none
}
h1,h2{
    display: flex;
    text-align: center;
    justify-content: center;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
   
}       
p{
    display: flex;
    text-align: justify;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
ul{
 
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;

}
div{
    margin: 50px;
}
footer{
    display: flex;
    justify-content: end;
    margin: 45px;

}
.titulo {
  display: flex;
  justify-content: center;
  justify-items: center;
}
a{
  text-decoration: none;
  color:rgb(147, 122, 90);
}
body{
  background-color: rgb(248, 207, 157);
}
.cap2imag {
  display: flex;
  justify-items: right;
  float: right;
  width: 200px;
  height: 200px;
}