
h1,h2{
    display: flex;
    text-align: center;
    justify-content: center;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #D4AF37;
   
}       
p{
    display: flex;
    text-align: justify;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
ul{
 
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;

}
div{
    margin: 0px 200px 0px 200px;
}
footer{
    display: flex;
    justify-content: end;
    margin-right: 200px;
    margin-top: 50px;

}
.titulo {
  display: flex;
  justify-content: center;
  justify-items: center;
}

a{
  text-decoration: none;
  color:#E6DCCF;
}
body{
  background-color: #3E3228;
}
.cap2imag {
  display: flex;
  justify-items: right;
  float: right;
  width: 200px;
  height: 200px;
}

p{
  color: #E6DCCF;
}

h3{
  color: #D4AF37;
}